.App {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(35,34,42);
  background: linear-gradient(0deg, rgba(35,34,42,1) 0%, rgba(43,42,51,1) 100%);
  color: #D6DBD2;
}

label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

h1 {
  font-size: 3em;
  width: fit-content;
  margin: 0 auto 1rem auto;
  border-bottom: 4px solid #76f9c2;
}

p {
  font-size: 1.25em;
}

.links {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #dad7da;
  transition: all 0.3s ease;
}

.links:hover {
  opacity: 0.7;
}

.logo {
  font-weight: bold;
  color: #76f9c2;
}

.btn {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 1.25em;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #76f9c2;
  color: #373443;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .links {
  padding: 1rem;
}

main {
  width: fit-content;
  margin: 5rem auto 0 auto;
  padding: 3rem;
  background-color: #373443;
  border-radius: 1rem;
}

.matched {
  display: none;
}

.unmatched {
  color: red;
}

form, input, .search-student-input{
  background-color: #23222a;
  color: #dad7da;
  padding: 0.75rem 1.5rem;
  font-size: 1.25em;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

form input:focus {
  border-color: #76f9c2;
  color: #76f9c2;
}

form .btn {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 1rem; */
}

.login, .register-prompt {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-prompt p {
  margin-bottom: 1rem;
}

.student-card, .class-card {
  border-bottom: 1px solid grey;
  cursor: pointer;
  padding: 2rem 0;
  transition: all 0.3s ease;
}

.student-card:hover, .class-card:hover {
  color: #76f9c2;
  border-color: #76f9c2;
}

.grades-grid .grade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid grey;
}

.grades-grid .course {
  padding: 0 2rem;
  border-right: 1px solid grey;
}

.grades-grid .letter-grade {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.homepage-links {
  margin-top: 3rem;
}

.homepage-links .btn {
  margin: 0 0.5rem;
}

.gpa-container {
  display: flex;
  justify-content: flex-end;
}

.search-student-div {
  text-align: center;
  margin: 0 14vw 0 14vw;
  padding-bottom: 3vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1000px) {
  .homepage-links {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    width: 200px;
    margin: auto;
  }
  
  .home {
    text-align: center;
  }
}
