.App {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #23222a;
  color: #D6DBD2;
}

label {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.links {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #dad7da;
  transition: all 0.3s ease;
}

.links:hover {
  opacity: 0.7;
}

.logo {
  font-weight: bold;
  color: #76f9c2;
}

.btn {
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 1.25em;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #76f9c2;
  color: #373443;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.navbar {
  width: 100%;
  height: 80px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .links {
  padding: 1rem;
}

main {
  background-color: #373443;
  width: fit-content;
  margin: 5rem auto 0 auto;
  padding: 3rem;
  border-radius: 1rem;
}

.matched {
  display: none;
}

.unmatched {
  color: red;
}

form input {
  background-color: #23222a;
  color: #dad7da;
  padding: 0.75rem 1.5rem;
  font-size: 1.25em;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

form input:focus {
  border-color: #76f9c2;
  color: #76f9c2;
}

form .btn {
  margin-top: 1rem;
}

.login .register-prompt {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-prompt p {
  margin-bottom: 1rem;
}